<title><%= Rails.configuration.application_name %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">

<%= csrf_meta_tags %>
<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Teko:400,700%7CRoboto:400,600,700,800,900' type='text/css' media='all' />
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
