<div class="container">
  <nav>
    <ul class="menu-list clearfix">
      <li class="menu-item"><a href="index.html">Home</a>
        <ul  class="sub-menu">
          <li class="menu-item"><a href="index.html">2 Columns</a>
          <li class="menu-item"><a href="index-2.html">3 Columns</a>
          <li class="menu-item"><a href="index-3.html">Flexible</a>
          <li class="menu-item"><a href="index-filter.html">2 Columns & Equals</a>
          <li class="menu-item"><a href="index-zoom.html">3 Columns & Equals</a>
        </ul>
      </li>
      <li class="menu-item"><a href="about.html">About</a>
      <li class="menu-item"><a href="#">Identity</a>
      <li class="menu-item"><a href="blog.html">Blog</a>
      <li class="menu-item menu-item-has-children"><a href="#">Pages</a>
        <ul  class="sub-menu">
          <li class="menu-item"><a href="single.html">Single</a>
          <li class="menu-item"><a href="single-project.html">Project 1</a>
          <li class="menu-item"><a href="single-project-2.html">Project 2</a>
          <li class="menu-item"><a href="single-project-3.html">Project 3</a>
          <li class="menu-item"><a href="single-project-4.html">Project 4</a>
          <li class="menu-item"><a href="404.html">404 Page</a>
        </ul>
      </li>
      <li class="menu-item"><a href="contact.html">Contact</a>
    </ul>
  </nav>
</div>
