<!-- Hero Content -->
<div class="header-text ">
  <div class="container">
    <div class="header-image">
      <%= image_tag 'header.jpg', alt: "Header" %>
      <div class="header-text-inner">
        <p>
          I am Decoz a Graphic Designer based in New York, specializing in User Interface <a href="#">#Design</a> and
          <a href="#">#Development</a>.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End Hero Content -->

<!-- Main Content -->
<div class="wrap-content">
  <%= render 'galleries/grid', galleries: @galleries, pagy: @pagy %>
</div>
<!-- End Main Content -->
