// @import "sticky-footer";
@import "material-design-iconic-font";
@import "bootstrap";
@import "decoz-styles";

// Announcements
// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;
// @import "announcements";

// Masquerade alert shouldn't have a bottom margin
body>.alert {
  margin-bottom: 0;
}

.pagination {
  display: block;

  .active {
    text-decoration: underline;
  }
}

.projects {
  .scale .project-item-content {
    opacity: 1;
    visibility: visible;
    left: 15px;
    padding-left: 15px;
    padding-right: 30px;

    .title {
      text-align: left;
    }
  }

  .project-item-content {

    .title,
    .project-cat {
      visibility: visible !important;
      opacity: 1 !important;
    }
  }

  .cover .project-item-inner {
    background-color: rgba(249, 249, 249, 0.8);
  }
}

.project-item-content {
  line-height: 25px;

  .stats-for-nerds {
    font-size: 10px;
    text-align: left;
  }
}

.projects .project-item {
  padding-left: 10px;
  padding-right: 10px;
}