// @import "sticky-footer";
@import "material-design-iconic-font";
@import "bootstrap";
@import "decoz-styles";

// Announcements
// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;
// @import "announcements";

// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;
}

.pagination {
  display: block;

  .active {
    text-decoration: underline;
  }
}

.projects .scale .project-item-content {
  opacity: 1;
  visibility: visible;
  left: 15px;
  padding-left: 15px;
  padding-right: 40px;

  .title {
    text-align: left;
  }
}