<div class="project-item">
  <div class="project-item-inner image">
    <div class="project-item-content">
      <h2 class="title">
        <%= link_to category.name, category %>
      </h2>
      <ul class="project-cat">
        <li>
          <%= category.description %>
        </li>
      </ul>

      <hr />

      <ul class="stats-for-nerds">
        <li>
          <%= pluralize(category.galleries.count, 'gallery') %>
        </li>
        <!--
          <li>
            Last update 2424 days ago
          </li>
          <li>
            Something else that's cool
          </li>
        -->
      </ul>
    </div>
  </div>
</div>