<% title 'All Categories' %>

<div class="header-text">
  <div class="container">
    <div class="header-text-inner">
      <p>
        All Categories
      </p>
    </div>
  </div>
</div>

<!-- Main Content -->
<div class="wrap-content">
  <div class="container">
    <div class="projects">
      <div class="grids-layout cover">
        <div class="project-item-sizer"></div>

        <!-- Categories -->
        <% @categories.each do |category| %>
          <%= render "category_block", category: category %>
        <% end %>
        <!-- End Categories -->

      </div>
    </div>
  </div>
</div>
<!-- End Main Content -->