<% title "Images of #{@category.name}" %>

<div class="header-text">
  <div class="container">
    <div class="header-text-inner">
      <p>
        <%= @category.name %>
      </p>
      <p>
        <small><%= @category.description %></small>
      </p>
    </div>
  </div>
</div>

<!-- Main Content -->
<div class="wrap-content">
  <%= render 'galleries/grid', galleries: @category.galleries, pagy: @pagy %>
</div>
<!-- End Main Content -->